.btn {
  background-color: pink;
  border: white solid 1px;
  border-radius: 10px;
  padding: 10px 10px;
}

.btn-red{
  background-color: red;
  border: white solid 1px;
  border-radius: 10px;
  padding: 10px 10px;
}
